# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

{% for entry in apache_listen -%}
{% if entry.ssl is not defined or entry.ssl == false %}
{% set ipaddr = entry.ip|string if entry.ip else "" %}
{% set port = entry.port|string if entry.port else "80" %}
Listen {{ ipaddr + ":" + port if ipaddr else port }}
{% endif %}
{% endfor %}

<IfModule ssl_module>
{% for entry in apache_listen -%}
{% if entry.ssl is defined and entry.ssl == true %}
{% set ipaddr = entry.ip|string if entry.ip else "" %}
{% set port = entry.port|string if entry.port else "443" %}
	Listen {{ ipaddr + ":" + port if ipaddr else port }}
{% endif %}
{% endfor %}
</IfModule>

<IfModule mod_gnutls.c>
{% for entry in apache_listen -%}
{% if entry.ssl is defined and entry.ssl == true %}
{% set ipaddr = entry.ip|string if entry.ip else "" %}
{% set port = entry.port|string if entry.port else "443" %}
	Listen {{ ipaddr + ":" + port if ipaddr else port }}
{% endif %}
{% endfor %}
</IfModule>
