{% if debci_servername in acme_domains %}
debci_url_base="https://{{ debci_servername }}"
{% else %}
debci_url_base="http://{{ debci_servername }}"
{% endif %}
{% if debci_amqp_server | length > 0 -%}
debci_amqp_server="{{ debci_amqp_server }}"
{% endif %}
{% if debci_amqp_ssl %}
debci_amqp_ssl=true
debci_amqp_cacert=/etc/debci/ca.crt
debci_amqp_cert=/etc/debci/client.crt
debci_amqp_key=/etc/debci/client.key
{% endif %}
{% if debci_data_retention_days != 180 %}
debci_data_retention_days="{{ debci_data_retention_days }}"
{% endif %}
{% if debci_disk_storage_limit != 200 %}
debci_disk_storage_limit="{{ debci_disk_storage_limit }}"
{% endif %}
{% if debci_arch | length > 0 %}
debci_arch="{{ debci_arch }}"
{% endif %}
{% if debci_arch_list %}
debci_arch_list="{{ debci_arch_list | join(' ') }}"
{% endif %}
{% if debci_suite | length > 0 %}
debci_suite="{{ debci_suite }}"
{% endif %}
{% if debci_suite_list %}
debci_suite_list="{{ debci_suite_list | join(' ') }}"
{% endif %}
{% if debci_backend | length > 0 %}
debci_backend="{{ debci_backend }}"
{% endif %}
{% if debci_backend_list %}
debci_backend_list="{{ debci_backend_list | join(' ') }}"
{% endif %}
{% if debci_backend_byarch_map %}
debci_backend_byarch_map="
{%- for byarch in debci_backend_byarch_map %}
{{ byarch.arch }}:{{ byarch.backend}}{% if not loop.last %} {% endif %}
{%- endfor %}
"
{% endif %}
