{% if item is defined %}
{% if item.debci_arch is defined and item.debci_arch != "" %}
{% set debci_arch = item.debci_arch %}
{% endif %}
{% if item.debci_autopkgtest_args is defined and item.debci_autopkgtest_args != "" %}
{% set debci_autopkgtest_args = item.debci_autopkgtest_args %}
{% endif %}
{% if item.debci_autopkgtest_args_qemurocm is defined and item.debci_autopkgtest_args_qemurocm != "" %}
{% set debci_autopkgtest_args_qemurocm = item.debci_autopkgtest_args_qemurocm %}
{% endif %}
{% if item.debci_autopkgtest_args_podmanrocm is defined and item.debci_autopkgtest_args_podmanrocm != "" %}
{% set debci_autopkgtest_args_podmanrocm = item.debci_autopkgtest_args_podmanrocm %}
{% endif %}
{% if item.debci_hook_pretest is defined and item.debci_hook_pretest != "" %}
{% set debci_hook_pretest = item.debci_hook_pretest %}
{% endif %}
{% endif %}
{% if debci_amqp_server | length > 0 -%}
debci_amqp_server="{{ debci_amqp_server }}"
{% endif %}
{% if debci_amqp_ssl %}
debci_amqp_ssl="true"
debci_amqp_cacert="/etc/debci/ca.crt"
debci_amqp_cert="/etc/debci/client.crt"
debci_amqp_key="/etc/debci/client.key"
debci_mirror="{{ debci_mirror }}"
{% endif %}
{% if debci_arch | length > 0 %}
debci_arch="{{ debci_arch }}"
{% endif %}
{% if debci_arch_list %}
debci_arch_list="{{ debci_arch_list | join(' ') }}"
{% endif %}
{% if debci_suite | length > 0 %}
debci_suite="{{ debci_suite }}"
{% endif %}
{% if debci_suite_list %}
debci_suite_list="{{ debci_suite_list | join(' ') }}"
{% endif %}
{% if debci_backend | length > 0 %}
debci_backend="{{ debci_backend }}"
{% endif %}
{% if debci_backend_list %}
debci_backend_list="{{ debci_backend_list | join(' ') }}"
{% endif %}
{% if debci_autopkgtest_args | length > 0 %}
debci_autopkgtest_args="{{ debci_autopkgtest_args }}"
{% endif %}
{% if debci_autopkgtest_args_qemurocm | length > 0 %}
debci_autopkgtest_args_qemurocm="{{ debci_autopkgtest_args_qemurocm }}"
{% endif %}
{% if debci_autopkgtest_args_podmanrocm | length > 0 %}
debci_autopkgtest_args_podmanrocm="{{ debci_autopkgtest_args_podmanrocm }}"
{% endif %}
{% if debci_hook_pretest | length > 0 %}
debci_hook_pretest="{{ debci_hook_pretest }}"
{% endif %}
